#carouselExampleControlsNoTouching{
    max-height: 90vh;
}

.navbar{
    background: transparent!important;
}

.menuFixo {
    position: fixed;
    top: 0px;
    background-color: rgb(255, 251, 0)!important;
    transition: linear .4s ease;
}