/*Estilos da p치gina index.html*/
.center{
    text-align: center;
}

.justify{
    text-align: justify;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu li{
    display: inline;
    padding: 15px;
    
}

#menu li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#menu li a:hover{
    color: grey;
}

.p-30{
    padding: 30px;
}

.br-50{
    border-radius: 50%;
}

.wh-300{
    width: 300px;
    height: 300px;
}

.tm-social{
    width: 50px;
    height: 50px;
}

.mb-50{
    margin-bottom: 50px;
}

.p-15{
    padding: 15px;
}


/*Estilos da p치gina contato.html*/

.ml-50{
    margin-left: 50px;
}

/*Estilos da p치gina valorant.html*/

.br-5{
    border-radius: 70px;
}

/*Estilos da p치gina twitch.html*/
.tm-foto{
    width: 600px;
    height: 240px;
}

.img-end{
    text-align: right;
    position: relative;
    right: 100px;
}
